/*
html, body {
	margin: 0px; padding: 0px; overflow: hidden; font-size: 0px;
}
*/

[data-view="vr-image"] {
	width: 100%; height: 100%; overflow: hidden;
}

.spinner {
	-webkit-animation-name: spinner;
	-webkit-animation-duration: 2000ms;
	-webkit-animation-iteration-count: infinite;

	-moz-animation-name: spinner;
	-moz-animation-duration: 2000ms;
	-moz-animation-iteration-count: infinite;

	-ms-animation-name: spinner;
	-ms-animation-duration: 2000ms;
	-ms-animation-iteration-count: infinite;

	animation-name: spinner;
	animation-duration: 2000ms;
	animation-iteration-count: infinite;
}

.finally .spinner {
	-webkit-animation-name: spinner;
	-webkit-animation-duration: 2000ms;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	-moz-animation-name: spinner;
	-moz-animation-duration: 2000ms;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;

	-ms-animation-name: spinner;
	-ms-animation-duration: 2000ms;
	-ms-animation-timing-function: linear;
	-ms-animation-iteration-count: infinite;

	animation-name: spinner;
	animation-duration: 2000ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@-ms-keyframes spinner { 
	from {-ms-transform: rotate(0deg);}
	to {-ms-transform: rotate(360deg);}
}

@-moz-keyframes spinner { 
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(360deg);}
}

@-webkit-keyframes spinner { 
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}

@keyframes spinner { 
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

.rollover {
	background-color: rgba(0, 0, 0, 0.2);
}
.rollover:hover {
	background-color: rgba(0, 200, 255, 0.5);
}